## Optimization Attempt 1: Preprocessing

In [233]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [234]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)

In [235]:
# Determine the number of unique values in each column.
print(application_df.nunique())

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [236]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
app_type_counts = application_df["APPLICATION_TYPE"].value_counts()
print(app_type_counts)

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [237]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_type_counts[app_type_counts < 1000].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
print(application_df['APPLICATION_TYPE'].value_counts())

APPLICATION_TYPE
T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: count, dtype: int64

In [238]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
class_counts = application_df['CLASSIFICATION'].value_counts()
print(class_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [239]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts_gt_1 = class_counts[class_counts > 1]
print(class_counts_gt_1)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [240]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_counts[class_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
print(application_df['CLASSIFICATION'].value_counts())

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [241]:
# Investigating status column
print(application_df['STATUS'].value_counts())

STATUS
1    34294
0        5
Name: count, dtype: int64

In [242]:
# Investigating special_considerations column
print(application_df['SPECIAL_CONSIDERATIONS'].value_counts())

SPECIAL_CONSIDERATIONS
N    34272
Y       27
Name: count, dtype: int64

In [243]:
# Removing both status and special_considerations columns
application_df = application_df.drop(['STATUS', 'SPECIAL_CONSIDERATIONS'], axis=1)

application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,Other,Independent,C1000,ProductDev,Association,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1

In [244]:
# Convert categorical data to numeric with `pd.get_dummies`
encoded_df = pd.get_dummies(application_df)
encoded_df.head()

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,True,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
1,108590,1,False,False,True,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
2,5000,0,False,False,False,False,True,False,True,False,...,False,True,False,False,False,False,False,False,False,False
3,6692,1,False,False,True,False,False,False,True,False,...,True,False,False,True,False,False,False,False,False,False
4,142590,1,False,False,True,False,False,False,False,False,...,True,False,False,False,True,False,False,False,False,False

In [245]:
# Split our preprocessed data into our features and target arrays
y = encoded_df['IS_SUCCESSFUL']
X = encoded_df.drop('IS_SUCCESSFUL', axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=21)

In [246]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Optimization Attempt 1: Compile, Train and Evaluate the Model

In [247]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(10, activation='relu', input_dim=len(X_train_scaled[0])))

# Second hidden layer
nn.add(tf.keras.layers.Dense(10, activation='tanh'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_23"

 Layer (type)                          Output Shape                         Param #

 dense_99 (Dense)                      (None, 10)                               380

 dense_100 (Dense)                     (None, 10)                               110

 dense_101 (Dense)                     (None, 1)                                 11

 Total params: 501 (1.96 KB)

 Trainable params: 501 (1.96 KB)

 Non-trainable params: 0 (0.00 B)

In [248]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [249]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804  3s 3ms/step - accuracy: 0.6937 - loss: 0.6022
Epoch 2/50
804/804  2s 2ms/step - accuracy: 0.7200 - loss: 0.5665
Epoch 3/50
804/804  4s 4ms/step - accuracy: 0.7249 - loss: 0.5612
Epoch 4/50
804/804  2s 3ms/step - accuracy: 0.7281 - loss: 0.5565
Epoch 5/50
804/804  2s 2ms/step - accuracy: 0.7253 - loss: 0.5627
Epoch 6/50
804/804  2s 3ms/step - accuracy: 0.7246 - loss: 0.5580
Epoch 7/50
804/804  2s 2ms/step - accuracy: 0.7301 - loss: 0.5511
Epoch 8/50
804/804  3s 2ms/step - accuracy: 0.7225 - loss: 0.5586
Epoch 9/50
804/804  3s 4ms/step - accuracy: 0.7278 - loss: 0.5561
Epoch 10/50
804/804  4s 2ms/step - accuracy: 0.7266 - loss: 0.5553
Epoch 11/50
804/804  2s 2ms/step - accuracy: 0.7234 - loss: 0.5559
Epoch 12/50
804/804  2s 2ms/step - accuracy: 0.7278 - loss: 0.5559
Epoch 13/50
804/804  3s 2ms/step - accuracy: 0.7269 - loss: 0.5525
Epoch 14/50
804/804  4s 4ms/step - accuracy: 0.7311 - loss: 0.5475
Epoch 15/50
804/804  2s 2ms/step - accuracy: 0.7323 - loss: 0.5488
Epoch 16/50
804/804  3s 2ms/step - accuracy: 0.7284 - loss: 0.5545
Epoch 17/50
804/804  2s 2ms/step - accuracy: 0.7299 - loss: 0.5513
Epoch 18/50
804/804  2s 2ms/step - accuracy: 0.7322 - loss: 0.5504
Epoch 19/50
804/804  2s 3ms/step - accuracy: 0.7254 - loss: 0.5572
Epoch 20/50
804/804  4s 4ms/step - accuracy: 0.7262 - loss: 0.5583
Epoch 21/50
804/804  2s 2ms/step - accuracy: 0.7310 - loss: 0.5525
Epoch 22/50
804/804  2s 2ms/step - accuracy: 0.7295 - loss: 0.5512
Epoch 23/50
804/804  3s 2ms/step - accuracy: 0.7254 - loss: 0.5548
Epoch 24/50
804/804  2s 2ms/step - accuracy: 0.7299 - loss: 0.5527
Epoch 25/50
804/804  5s 5ms/step - accuracy: 0.7291 - loss: 0.5499
Epoch 26/50
804/804  4s 4ms/step - accuracy: 0.7272 - loss: 0.5544
Epoch 27/50
804/804  2s 2ms/step - accuracy: 0.7251 - loss: 0.5568
Epoch 28/50
804/804  3s 2ms/step - accuracy: 0.7345 - loss: 0.5469
Epoch 29/50
804/804  2s 2ms/step - accuracy: 0.7368 - loss: 0.5478
Epoch 30/50
804/804  4s 4ms/step - accuracy: 0.7327 - loss: 0.5489
Epoch 31/50
804/804  3s 2ms/step - accuracy: 0.7345 - loss: 0.5447
Epoch 32/50
804/804  3s 2ms/step - accuracy: 0.7279 - loss: 0.5510
Epoch 33/50
804/804  2s 2ms/step - accuracy: 0.7320 - loss: 0.5507
Epoch 34/50
804/804  2s 2ms/step - accuracy: 0.7342 - loss: 0.5446
Epoch 35/50
804/804  5s 4ms/step - accuracy: 0.7315 - loss: 0.5488
Epoch 36/50
804/804  2s 3ms/step - accuracy: 0.7340 - loss: 0.5461
Epoch 37/50
804/804  2s 3ms/step - accuracy: 0.7318 - loss: 0.5510
Epoch 38/50
804/804  2s 2ms/step - accuracy: 0.7324 - loss: 0.5475
Epoch 39/50
804/804  2s 2ms/step - accuracy: 0.7248 - loss: 0.5558
Epoch 40/50
804/804  4s 4ms/step - accuracy: 0.7333 - loss: 0.5503
Epoch 41/50
804/804  4s 2ms/step - accuracy: 0.7361 - loss: 0.5456
Epoch 42/50
804/804  3s 2ms/step - accuracy: 0.7290 - loss: 0.5507
Epoch 43/50
804/804  2s 2ms/step - accuracy: 0.7316 - loss: 0.5477
Epoch 44/50
804/804  3s 3ms/step - accuracy: 0.7340 - loss: 0.5440
Epoch 45/50
804/804  4s 4ms/step - accuracy: 0.7299 - loss: 0.5489
Epoch 46/50
804/804  2s 2ms/step - accuracy: 0.7371 - loss: 0.5429
Epoch 47/50
804/804  2s 2ms/step - accuracy: 0.7304 - loss: 0.5496
Epoch 48/50
804/804  2s 2ms/step - accuracy: 0.7298 - loss: 0.5476
Epoch 49/50
804/804  3s 2ms/step - accuracy: 0.7391 - loss: 0.5393
Epoch 50/50
804/804  3s 4ms/step - accuracy: 0.7320 - loss: 0.5481

In [250]:
# Evaluate the model using the test data
print(f"This model was created as an attempt to further optimize the model found in the file named \n'Alphabet_Soup_Charity.ipynb'\n")
print(f"Changes made to original model:\n1. Application_Type cutoff is now 1000.\n2. Dropped 'Status' and 'Special_Considerations' columns.\n3. Hidden layers now have 10 nodes.\n4. A hidden layer now using 'tanh' activation\n5. Number of epochs reduced to 50.\n")
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

This model was created as an attempt to further optimize the model found in the file named
'Alphabet_Soup_Charity.ipynb'

Changes made to original model:
1. Application_Type cutoff is now 1000.
2. Dropped 'Status' and 'Special_Considerations' columns.
3. Hidden layers now have 10 nodes.
4. A hidden layer now using 'tanh' activation
5. Number of epochs reduced to 50.

268/268 - 1s - 2ms/step - accuracy: 0.7285 - loss: 0.5544
Loss: 0.5544366240501404, Accuracy: 0.7285131216049194

## Optimization Attempt 2: Preprocessing

In [251]:
# Read in the charity_data.csv.
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [252]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)

# Determine the number of unique values in each column.
print(application_df.nunique())

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [253]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
app_type_counts = application_df["APPLICATION_TYPE"].value_counts()

# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_type_counts[app_type_counts < 27000].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Look at CLASSIFICATION value counts to identify and replace with "Other"
class_counts = application_df['CLASSIFICATION'].value_counts()

# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_counts[class_counts < 17000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
print(application_df['APPLICATION_TYPE'].value_counts(), application_df['CLASSIFICATION'].value_counts())

APPLICATION_TYPE
T3       27037
Other     7262
Name: count, dtype: int64 CLASSIFICATION
C1000    17326
Other    16973
Name: count, dtype: int64

In [254]:
# Convert categorical data to numeric with `pd.get_dummies`
encoded_df = pd.get_dummies(application_df)

# Split our preprocessed data into our features and target arrays
y = encoded_df['IS_SUCCESSFUL']
X = encoded_df.drop('IS_SUCCESSFUL', axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=21)

# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Optimization Attempt 2: Compile, Train and Evaluate the Model

In [255]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(10, activation='relu', input_dim=len(X_train_scaled[0])))

# Second hidden layer
nn.add(tf.keras.layers.Dense(10, activation='relu'))

# Third hidden layer
nn.add(tf.keras.layers.Dense(10, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="softmax"))

# Check the structure of the model
nn.summary()

# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="SGD", metrics=["accuracy"])

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_24"

 Layer (type)                          Output Shape                         Param #

 dense_102 (Dense)                     (None, 10)                               330

 dense_103 (Dense)                     (None, 10)                               110

 dense_104 (Dense)                     (None, 10)                               110

 dense_105 (Dense)                     (None, 1)                                 11

 Total params: 561 (2.19 KB)

 Trainable params: 561 (2.19 KB)

 Non-trainable params: 0 (0.00 B)

In [256]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50

/usr/local/lib/python3.10/dist-packages/keras/src/ops/nn.py:545: UserWarning: You are using a softmax over axis -1 of a tensor of shape (None, 1). This axis has size 1. The softmax operation will always return the value 1, which is likely not what you intended. Did you mean to use a sigmoid instead?
  warnings.warn(

804/804  6s 3ms/step - accuracy: 0.5293 - loss: 0.6812
Epoch 2/50
804/804  2s 2ms/step - accuracy: 0.5307 - loss: 0.6391
Epoch 3/50
804/804  3s 2ms/step - accuracy: 0.5336 - loss: 0.6140
Epoch 4/50
804/804  1s 2ms/step - accuracy: 0.5301 - loss: 0.6046
Epoch 5/50
804/804  3s 2ms/step - accuracy: 0.5362 - loss: 0.6051
Epoch 6/50
804/804  2s 3ms/step - accuracy: 0.5359 - loss: 0.6017
Epoch 7/50
804/804  3s 4ms/step - accuracy: 0.5303 - loss: 0.5963
Epoch 8/50
804/804  5s 4ms/step - accuracy: 0.5359 - loss: 0.5966
Epoch 9/50
804/804  4s 2ms/step - accuracy: 0.5296 - loss: 0.5995
Epoch 10/50
804/804  3s 4ms/step - accuracy: 0.5293 - loss: 0.5916
Epoch 11/50
804/804  4s 2ms/step - accuracy: 0.5320 - loss: 0.5955
Epoch 12/50
804/804  2s 2ms/step - accuracy: 0.5302 - loss: 0.5935
Epoch 13/50
804/804  2s 2ms/step - accuracy: 0.5305 - loss: 0.5921
Epoch 14/50
804/804  2s 2ms/step - accuracy: 0.5345 - loss: 0.5901
Epoch 15/50
804/804  4s 3ms/step - accuracy: 0.5290 - loss: 0.5909
Epoch 16/50
804/804  4s 2ms/step - accuracy: 0.5351 - loss: 0.5884
Epoch 17/50
804/804  2s 2ms/step - accuracy: 0.5312 - loss: 0.5906
Epoch 18/50
804/804  2s 3ms/step - accuracy: 0.5313 - loss: 0.5879
Epoch 19/50
804/804  2s 2ms/step - accuracy: 0.5337 - loss: 0.5883
Epoch 20/50
804/804  4s 4ms/step - accuracy: 0.5323 - loss: 0.5850
Epoch 21/50
804/804  3s 2ms/step - accuracy: 0.5291 - loss: 0.5882
Epoch 22/50
804/804  3s 2ms/step - accuracy: 0.5301 - loss: 0.5886
Epoch 23/50
804/804  2s 2ms/step - accuracy: 0.5310 - loss: 0.5934
Epoch 24/50
804/804  2s 2ms/step - accuracy: 0.5355 - loss: 0.5928
Epoch 25/50
804/804  2s 3ms/step - accuracy: 0.5284 - loss: 0.5879
Epoch 26/50
804/804  3s 4ms/step - accuracy: 0.5319 - loss: 0.5890
Epoch 27/50
804/804  4s 2ms/step - accuracy: 0.5290 - loss: 0.5848
Epoch 28/50
804/804  2s 2ms/step - accuracy: 0.5374 - loss: 0.5853
Epoch 29/50
804/804  1s 2ms/step - accuracy: 0.5345 - loss: 0.5929
Epoch 30/50
804/804  2s 2ms/step - accuracy: 0.5305 - loss: 0.5929
Epoch 31/50
804/804  3s 3ms/step - accuracy: 0.5336 - loss: 0.5887
Epoch 32/50
804/804  4s 2ms/step - accuracy: 0.5343 - loss: 0.5889
Epoch 33/50
804/804  2s 2ms/step - accuracy: 0.5270 - loss: 0.5938
Epoch 34/50
804/804  2s 2ms/step - accuracy: 0.5370 - loss: 0.5822
Epoch 35/50
804/804  2s 2ms/step - accuracy: 0.5338 - loss: 0.5863
Epoch 36/50
804/804  4s 4ms/step - accuracy: 0.5360 - loss: 0.5894
Epoch 37/50
804/804  4s 5ms/step - accuracy: 0.5314 - loss: 0.5880
Epoch 38/50
804/804  3s 2ms/step - accuracy: 0.5298 - loss: 0.5912
Epoch 39/50
804/804  2s 2ms/step - accuracy: 0.5334 - loss: 0.5824
Epoch 40/50
804/804  2s 2ms/step - accuracy: 0.5313 - loss: 0.5896
Epoch 41/50
804/804  2s 3ms/step - accuracy: 0.5302 - loss: 0.5889
Epoch 42/50
804/804  4s 4ms/step - accuracy: 0.5326 - loss: 0.5903
Epoch 43/50
804/804  2s 2ms/step - accuracy: 0.5251 - loss: 0.5906
Epoch 44/50
804/804  2s 2ms/step - accuracy: 0.5343 - loss: 0.5839
Epoch 45/50
804/804  2s 2ms/step - accuracy: 0.5320 - loss: 0.5874
Epoch 46/50
804/804  2s 2ms/step - accuracy: 0.5326 - loss: 0.5909
Epoch 47/50
804/804  4s 4ms/step - accuracy: 0.5310 - loss: 0.5879
Epoch 48/50
804/804  4s 2ms/step - accuracy: 0.5313 - loss: 0.5944
Epoch 49/50
804/804  2s 2ms/step - accuracy: 0.5314 - loss: 0.5818
Epoch 50/50
804/804  3s 2ms/step - accuracy: 0.5280 - loss: 0.5848

In [257]:
# Evaluate the model using the test data
print(f"This model was created as a second attempt to further optimize the model found in the file named \n'Alphabet_Soup_Charity.ipynb'\n")
print(f"Changes made to original model:\n1. Application_Type cutoff is now 27000.\n2. Classification cutoff is now 17000.\n3. Hidden layers now have 10 nodes.\n4. Model now has 4 layers.\n5. Output layer now using 'softmax' activation.\n6. Optimizer changed to 'SGD'.\n7. Number of epochs reduced to 50.\n")
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

This model was created as a second attempt to further optimize the model found in the file named
'Alphabet_Soup_Charity.ipynb'

Changes made to original model:
1. Application_Type cutoff is now 27000.
2. Classification cutoff is now 17000.
3. Hidden layers now have 10 nodes.
4. Model now has 4 layers.
5. Output layer now using 'softmax' activation.
6. Optimizer changed to 'SGD'.
7. Number of epochs reduced to 50.

268/268 - 1s - 2ms/step - accuracy: 0.5359 - loss: 0.5926
Loss: 0.5925544500350952, Accuracy: 0.5358600616455078

## Optimization Attempt 3: Preprocessing

In [258]:
# Read in the charity_data.csv.
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [259]:
# Drop the non-beneficial ID column 'EIN'
application_df = application_df.drop('EIN', axis=1)

# Determine the number of unique values in each column.
print(application_df.nunique())

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [261]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
app_type_counts = application_df["APPLICATION_TYPE"].value_counts()

# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_type_counts[app_type_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Look at CLASSIFICATION value counts to identify and replace with "Other"
class_counts = application_df['CLASSIFICATION'].value_counts()

# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_counts[class_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
print(application_df['APPLICATION_TYPE'].value_counts(), application_df['CLASSIFICATION'].value_counts())

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64 CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [262]:
# Looking for columns with more than 10 unique values
columns_with_many_uniques = [col for col in application_df.columns if application_df[col].nunique() > 10]

# Iterate over these columns and get the count of each unique value
for col in columns_with_many_uniques:
    print(f"Column: {col}")
    print(application_df[col].value_counts())
    print("-----------")

Column: NAME
NAME
PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: count, Length: 19568, dtype: int64
-----------
Column: ASK_AMT
ASK_AMT
5000        25398
10478           3
15583           3
63981           3
6725            3
            ...
5371754         1
30060           1
43091152        1
18683           1
36500179        1
Name: count, Length: 8747, dtype: int64
-----------

In [263]:
# Create cutoff of 4 for name_counts and replace values with 'Other'
name_counts = application_df['NAME'].value_counts()

names_to_replace = list(name_counts[name_counts < 4].index)

for name in names_to_replace:
  application_df['NAME'] = application_df['NAME'].replace(name, 'Other')

# Check to make sure replacement was successful
print(application_df['NAME'].value_counts())

NAME
Other                                 19515
PARENT BOOSTER USA INC                 1260
TOPS CLUB INC                           765
UNITED STATES BOWLING CONGRESS INC      700
WASHINGTON STATE UNIVERSITY             492
                                      ...
OMEGA PSI PHI FRATERNITY                  4
AMERICAN COACH ASSOCIATION                4
PTA NEW MEXICO CONGRESS                   4
INDUSTRIAL WORKERS OF THE WORLD           4
PHI DELTA KAPP INTERNATIONAL INC          4
Name: count, Length: 475, dtype: int64

In [264]:
# Create cutoff of 4 for ask_counts and replace values with 'Other'
ask_counts = application_df['ASK_AMT'].value_counts()

asks_to_replace = list(ask_counts[ask_counts < 4].index)

for ask in asks_to_replace:
  application_df['ASK_AMT'] = application_df['ASK_AMT'].replace(ask, 'Other')

# Check to make sure replacement was successful
print(application_df['ASK_AMT'].value_counts())

ASK_AMT
5000     25398
Other     8901
Name: count, dtype: int64

In [205]:
# Convert categorical data to numeric with `pd.get_dummies`
encoded_df = pd.get_dummies(application_df)

# Split our preprocessed data into our features and target arrays
y = encoded_df['IS_SUCCESSFUL']
X = encoded_df.drop('IS_SUCCESSFUL', axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=21)

# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Optimization Attempt 3: Compile, Train and Evaluate the Model

In [209]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential([
    tf.keras.layers.Dense(64, activation='relu', input_dim=len(X_train_scaled[0])),
    tf.keras.layers.Dense(32, activation='relu'),
    tf.keras.layers.Dense(16, activation='relu'),
    tf.keras.layers.Dense(8, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')])

# Check the structure of the model
nn.summary()

# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

Model: "sequential_22"

 Layer (type)                          Output Shape                         Param #

 dense_94 (Dense)                      (None, 64)                            33,280

 dense_95 (Dense)                      (None, 32)                             2,080

 dense_96 (Dense)                      (None, 16)                               528

 dense_97 (Dense)                      (None, 8)                                136

 dense_98 (Dense)                      (None, 1)                                  9

 Total params: 36,033 (140.75 KB)

 Trainable params: 36,033 (140.75 KB)

 Non-trainable params: 0 (0.00 B)

In [216]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, validation_split=0.15, epochs=50)

Epoch 1/50
684/684  4s 6ms/step - accuracy: 0.8144 - loss: 0.3848 - val_accuracy: 0.7940 - val_loss: 0.5147
Epoch 2/50
684/684  3s 4ms/step - accuracy: 0.8099 - loss: 0.3923 - val_accuracy: 0.7942 - val_loss: 0.5059
Epoch 3/50
684/684  5s 6ms/step - accuracy: 0.8140 - loss: 0.3879 - val_accuracy: 0.7942 - val_loss: 0.5135
Epoch 4/50
684/684  3s 3ms/step - accuracy: 0.8139 - loss: 0.3865 - val_accuracy: 0.7942 - val_loss: 0.5250
Epoch 5/50
684/684  3s 4ms/step - accuracy: 0.8169 - loss: 0.3804 - val_accuracy: 0.7930 - val_loss: 0.5236
Epoch 6/50
684/684  2s 4ms/step - accuracy: 0.8170 - loss: 0.3850 - val_accuracy: 0.7948 - val_loss: 0.5106
Epoch 7/50
684/684  3s 4ms/step - accuracy: 0.8059 - loss: 0.3927 - val_accuracy: 0.7924 - val_loss: 0.5345
Epoch 8/50
684/684  4s 6ms/step - accuracy: 0.8186 - loss: 0.3841 - val_accuracy: 0.7927 - val_loss: 0.5544
Epoch 9/50
684/684  3s 4ms/step - accuracy: 0.8097 - loss: 0.3897 - val_accuracy: 0.7927 - val_loss: 0.5266
Epoch 10/50
684/684  5s 3ms/step - accuracy: 0.8148 - loss: 0.3848 - val_accuracy: 0.7927 - val_loss: 0.5188
Epoch 11/50
684/684  2s 4ms/step - accuracy: 0.8116 - loss: 0.3898 - val_accuracy: 0.7932 - val_loss: 0.5293
Epoch 12/50
684/684  4s 6ms/step - accuracy: 0.8096 - loss: 0.3904 - val_accuracy: 0.7930 - val_loss: 0.5171
Epoch 13/50
684/684  4s 4ms/step - accuracy: 0.8145 - loss: 0.3842 - val_accuracy: 0.7914 - val_loss: 0.5111
Epoch 14/50
684/684  2s 3ms/step - accuracy: 0.8055 - loss: 0.3932 - val_accuracy: 0.7935 - val_loss: 0.5239
Epoch 15/50
684/684  3s 3ms/step - accuracy: 0.8112 - loss: 0.3908 - val_accuracy: 0.7922 - val_loss: 0.5378
Epoch 16/50
684/684  3s 5ms/step - accuracy: 0.8112 - loss: 0.3894 - val_accuracy: 0.7927 - val_loss: 0.5136
Epoch 17/50
684/684  5s 4ms/step - accuracy: 0.8162 - loss: 0.3868 - val_accuracy: 0.7948 - val_loss: 0.5104
Epoch 18/50
684/684  5s 4ms/step - accuracy: 0.8141 - loss: 0.3877 - val_accuracy: 0.7948 - val_loss: 0.5202
Epoch 19/50
684/684  4s 6ms/step - accuracy: 0.8134 - loss: 0.3845 - val_accuracy: 0.7942 - val_loss: 0.5042
Epoch 20/50
684/684  5s 7ms/step - accuracy: 0.8156 - loss: 0.3819 - val_accuracy: 0.7932 - val_loss: 0.5177
Epoch 21/50
684/684  3s 4ms/step - accuracy: 0.8111 - loss: 0.3879 - val_accuracy: 0.7930 - val_loss: 0.5290
Epoch 22/50
684/684  3s 4ms/step - accuracy: 0.8176 - loss: 0.3820 - val_accuracy: 0.7930 - val_loss: 0.5117
Epoch 23/50
684/684  2s 4ms/step - accuracy: 0.8177 - loss: 0.3816 - val_accuracy: 0.7950 - val_loss: 0.5294
Epoch 24/50
684/684  2s 3ms/step - accuracy: 0.8137 - loss: 0.3877 - val_accuracy: 0.7924 - val_loss: 0.5244
Epoch 25/50
684/684  4s 6ms/step - accuracy: 0.8125 - loss: 0.3898 - val_accuracy: 0.7914 - val_loss: 0.5209
Epoch 26/50
684/684  3s 4ms/step - accuracy: 0.8122 - loss: 0.3915 - val_accuracy: 0.7924 - val_loss: 0.5191
Epoch 27/50
684/684  3s 4ms/step - accuracy: 0.8079 - loss: 0.3927 - val_accuracy: 0.7940 - val_loss: 0.5215
Epoch 28/50
684/684  2s 4ms/step - accuracy: 0.8138 - loss: 0.3882 - val_accuracy: 0.7922 - val_loss: 0.5287
Epoch 29/50
684/684  2s 3ms/step - accuracy: 0.8164 - loss: 0.3852 - val_accuracy: 0.7940 - val_loss: 0.5131
Epoch 30/50
684/684  4s 6ms/step - accuracy: 0.8169 - loss: 0.3821 - val_accuracy: 0.7940 - val_loss: 0.5040
Epoch 31/50
684/684  3s 4ms/step - accuracy: 0.8166 - loss: 0.3822 - val_accuracy: 0.7930 - val_loss: 0.5103
Epoch 32/50
684/684  5s 3ms/step - accuracy: 0.8132 - loss: 0.3860 - val_accuracy: 0.7940 - val_loss: 0.5282
Epoch 33/50
684/684  3s 4ms/step - accuracy: 0.8152 - loss: 0.3853 - val_accuracy: 0.7932 - val_loss: 0.5076
Epoch 34/50
684/684  4s 5ms/step - accuracy: 0.8141 - loss: 0.3863 - val_accuracy: 0.7919 - val_loss: 0.5230
Epoch 35/50
684/684  3s 4ms/step - accuracy: 0.8118 - loss: 0.3878 - val_accuracy: 0.7940 - val_loss: 0.5301
Epoch 36/50
684/684  5s 4ms/step - accuracy: 0.8172 - loss: 0.3813 - val_accuracy: 0.7930 - val_loss: 0.5180
Epoch 37/50
684/684  3s 4ms/step - accuracy: 0.8117 - loss: 0.3887 - val_accuracy: 0.7930 - val_loss: 0.5111
Epoch 38/50
684/684  5s 3ms/step - accuracy: 0.8159 - loss: 0.3814 - val_accuracy: 0.7924 - val_loss: 0.5294
Epoch 39/50
684/684  3s 4ms/step - accuracy: 0.8131 - loss: 0.3842 - val_accuracy: 0.7945 - val_loss: 0.5326
Epoch 40/50
684/684  3s 4ms/step - accuracy: 0.8138 - loss: 0.3857 - val_accuracy: 0.7922 - val_loss: 0.5379
Epoch 41/50
684/684  2s 3ms/step - accuracy: 0.8120 - loss: 0.3863 - val_accuracy: 0.7927 - val_loss: 0.5295
Epoch 42/50
684/684  4s 6ms/step - accuracy: 0.8117 - loss: 0.3887 - val_accuracy: 0.7937 - val_loss: 0.5326
Epoch 43/50
684/684  4s 4ms/step - accuracy: 0.8161 - loss: 0.3835 - val_accuracy: 0.7966 - val_loss: 0.5332
Epoch 44/50
684/684  3s 4ms/step - accuracy: 0.8181 - loss: 0.3801 - val_accuracy: 0.7940 - val_loss: 0.5119
Epoch 45/50
684/684  5s 7ms/step - accuracy: 0.8138 - loss: 0.3887 - val_accuracy: 0.7937 - val_loss: 0.5140
Epoch 46/50
684/684  4s 6ms/step - accuracy: 0.8134 - loss: 0.3876 - val_accuracy: 0.7940 - val_loss: 0.5381
Epoch 47/50
684/684  3s 4ms/step - accuracy: 0.8126 - loss: 0.3913 - val_accuracy: 0.7940 - val_loss: 0.5113
Epoch 48/50
684/684  2s 4ms/step - accuracy: 0.8121 - loss: 0.3883 - val_accuracy: 0.7940 - val_loss: 0.5275
Epoch 49/50
684/684  3s 4ms/step - accuracy: 0.8139 - loss: 0.3845 - val_accuracy: 0.7948 - val_loss: 0.5444
Epoch 50/50
684/684  3s 4ms/step - accuracy: 0.8099 - loss: 0.3882 - val_accuracy: 0.7937 - val_loss: 0.5290

In [232]:
# Evaluate the model using the test data
print(f"This model was created as a third attempt to further optimize the model found in the file named \n'Alphabet_Soup_Charity.ipynb'\n")
print(f"Changes made to original model:\n1. Name column was not dropped. Binned all names with value counts less than 4.\n2. Created a bin for Ask_Amt containing values with a value count less than 4.\n3. There are 5 layers now. Neurons for each are 64, 32, 16, 8, 1.\n4. Validation split of 0.15 added to .fit().\n5. Number of epochs reduced to 50.\n")
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

This model was created as a third attempt to further optimize the model found in the file named
'Alphabet_Soup_Charity.ipynb'

Changes made to original model:
1. Name column was not dropped. Binned all names with value counts less than 4.
2. Created a bin for Ask_Amt containing values with a value count less than 4.
3. There are 5 layers now. Neurons for each are 64, 32, 16, 8, 1.
4. Validation split of 0.15 added to .fit().
5. Number of epochs reduced to 50.

268/268 - 0s - 1ms/step - accuracy: 0.8010 - loss: 0.5224
Loss: 0.5223952531814575, Accuracy: 0.8010495901107788

In [265]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.